#maintenance {
    background: #124773;

    width: 100%;
    height: 100%;

    position: fixed;

    left: 0;
    top: 0;

    z-index: 10;

    overflow: hidden;

    .maintenance-issues {
        position: absolute;

        bottom: 16px;
        right: 32px;

        .maintenance-issues-frank {
            position: absolute;

            bottom: -48px;
            left: -112px;

            pointer-events: none;
        }

        .maintenance-issues-widget {
            max-width: 320px;
        }
    } 

    .maintenance-container {
        display: flex;

        width: 100%;
        height: 100%;

        .maintenance-logo {
            margin: auto;
        }
    }
}
