<nav>
    <div class="container">
        <a href="/"><img class="logo" src="/images/logos/medium.png"></a>
    
        <ul>
            <a href="/"><li class="home"><h2>Home</h2></li></a>
            <a href="/community"><li class="community"><h2>Community</h2></li></a>
            <a href="/about"><li class="about"><h2>About Us</h2></li></a>

            <div class="nav-right">
                <a href="/discord" target="_blank"><li class="discord"><h2>Discord</h2></li></a>
            </div>
        </ul>
    </div>
</nav>
