<main>
    <div class="container">
        <h1>About Us</h1>

        <p>Project Cortex is a rewrite of <a href="https://habbo.com">Habbo Hotel</a> in JavaScript and C#. Our goal is recreate Habbo Hotel's core functions and expand on the game to provide a way for you to relax in the end of the day.</p>

        <br>

        <p>We are not yet open for the public as we're continuing to finalize the very core features of the game and polishing the code before planning to open for the public. However, we are gradually inviting more community members to become BETA testers, you can sign up for this <a href="/registration">here</a>.</p>

        <br>

        <p>You're welcome to join our <a href="/discord">Discord</a> server to become part of the community!</p>
    </div>
</main>
