<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8">

        <style type="text/css">
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>

    <body style="
        width: 600px;

        margin: 32px auto;

        padding: 12px;

        border: 3px solid #069;

        font-family: 'Ubuntu Condensed', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;

        background: #15507c linear-gradient(135deg, #15507c, #0c3a65) no-repeat fixed;
        color: #7ecaee;
    ">
        <div style="text-align: center;">
            <img src="https://cortex5.io/images/logos/medium.png" alt="Project Cortex">
        </div>

        <h1 style="color: #FFF;">${title}</h1>

        ${body}

        <p style="font-size: 15px; text-align: right;">- Project Cortex Staff</p>
    </body>
</html>
