<link rel="stylesheet" href="/cdn/styles/client.min.css">
        
<main id="client">
    <section id="client-loader">
        <div class="client-loader-container">
            <div class="client-loader-logo"></div>

            <div id="client-loader-text">Waiting for client...</div>
        </div>
    </section>

    <script type="text/javascript">
        const key = "${key}";
        
        const theme = null;
    </script>

    <script src="/cdn/scripts/libraries/jquery-3.5.1.min.js"></script>
    <script src="/cdn/scripts/libraries/jquery-ui-custom.min.js"></script>
    
    <script src="/cdn/scripts/Client.js"></script>
    
    <script src="/cdn/scripts/Client/Utils/Utils.js"></script>
    <script src="/cdn/scripts/Client/Exceptions/Exceptions.js"></script>
    
    <script src="/cdn/scripts/Client/ClientLoader.js"></script>
</main>
