@import "App/Fonts";
@import "App/Loader";

@import "App/Sections/Header";
@import "App/Sections/Nav";
@import "App/Sections/Subnav";
@import "App/Sections/Main";

@import "App/Components/Container";
@import "App/Components/Buttons";
@import "App/Components/Inputs";

@import "App/Pages/News";
@import "App/Pages/Register";

body {
    margin: 0;

    font-family: "Ubuntu", Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;

    color: #7ecaee;

    background: #15507c linear-gradient(135deg, #15507c, #0c3a65) no-repeat fixed;

    overflow: overlay;
}

a {
    color: #fff;

    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
