@import "components/fonts";
@import "components/beta";
@import "components/page";

body {
    margin: 0;

    font-family: "Ubuntu", Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;

    color: #7ecaee;

    background: #134B76;
    background-image: url(/images/stars.svg);
    background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0;
}

.container {
    width: 75%;
    max-width: 1100px;

    position: relative;

    margin: 0 auto;
}

a {
    color: #fff;

    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;

        display: none;
    }
}

.animation-fade-out {
    animation: fade-out 1s forwards;
}
