button {
    font-family: unset;

    outline: none;
}

.button {
    cursor: pointer;
    
    border: 2px solid #8eda55;
    border-radius: 5px;

    box-shadow: 0 3px 0 1px rgb(0 0 0 / 30%);
    
    display: inline-block;
    
    text-align: center;
    
    background-color: #00813e;
    
    padding: 12px 24px;
    
    margin-bottom: 4px;
    
    font-size: 16px;

    color: #fff;
    
    padding-left: 48px;
    padding-right: 48px;
    
    line-height: 1.2;

    box-sizing: border-box;

    text-transform: uppercase;

    h1, h2, h3 {
        margin: 0;
    }

    &:hover {
        text-decoration: none;

        background-color: #00ab54;
        border-color: #b9f373;
        
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }

    &:active, &:disabled {
        box-shadow: 0 1px 0 1px rgb(0 0 0 / 30%);
        transform: translate(0,2px);

        background-color: #006743;
        border-color: #5abb37;
    }

    &.button-blue {
        background-color: #0f7dbc;
        border-color: #2a9cde;

        &:hover {
            background-color: #2a9cde;
            border-color: #53bdf9;
        }

        &:active, &:disabled {
            background-color: #084d74;
            border-color: #1e7b9e;
        }
    }
}

.button-hotel {
    display: inline-block;
    height: 19px;
    line-height: 1.2;
    text-align: center;
    background-color: #00813e;
    border-color: #8eda55;
    color: #000;
    border-width: 2px 1px 2px 2px;
    border-style: solid;
    box-shadow: none;
    position: relative;
    margin-right: 19px;
    margin-top: -3px;
    padding: 8px 12px 9px 24px;
    filter: drop-shadow(-1px 4px 0 rgba(0, 0, 0, .3));
    border-radius: 5px 0 0 5px;
    margin-bottom: 4px;
    font-size: 16px;
    text-transform: uppercase;

    color: #FFF;

    cursor: pointer;

    &:before {
        border-width: 20px;
        top: -2px;
        border-color: transparent transparent transparent #8eda55;
        right: -41px;
    }

    &:after {
        border-width: 18px;
        top: 0;
        border-color: transparent transparent transparent #00813e;
        right: -36px;
    }
    &:after, &:before {
        position: absolute;
        display: block;
        border-style: solid;
        content: '';
    }

    &:hover {
        text-decoration: none;
        
        background-color: #00ab54;
        border-color: #b9f373;

        border-bottom-style: solid;
        border-bottom-width: 2px;

        &:before {
            border-color: transparent transparent transparent #b9f373;
        }

        &:after {
            border-color: transparent transparent transparent #00ab54;
        }
    }

    &:active {
        transform: translate(0,2px);
        filter: drop-shadow(-1px 2px 0 rgba(0, 0, 0, .3));
        box-shadow: none;

        background-color: #006743;
        border-color: #5abb37;

        &:before {
            border-color: transparent transparent transparent #5abb37;
        }

        &:after {
            border-color: transparent transparent transparent #006743;
        }
    }
}
